.highlight-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    padding-bottom: 70px;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border: 5px solid pink;
    border-radius: 80%;
    cursor: pointer;
    transition: transform 0.3s; /* אפקט מעבר */
}
.circle1 {
    background-image: url('../components/data/pictures/pictures/highlight/WhatsApp Image 2024-11-08 at 00.13.16.jpeg'); 
    background-size: cover;
    background-position: center;
}

  .circle2 {
    background-image: url('../components/data/pictures/pictures/highlight/WhatsApp Image 2024-11-08 at 10.37.15.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .circle3 {
    background-image: url('../components/data/pictures/pictures/highlight/WhatsApp Image 2024-11-07 at 23.57.38.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .circle4 {
    background-image: url('../components/data/pictures/pictures/highlight/WhatsApp Image 2024-11-07 at 23.57.15.jpeg');
    background-size: cover;
    background-position: center;
  }
  

.circle:hover {
    transform: scale(1.05); /* הגדלת העיגול במצב ריחוף */
}

.circle-title {
    margin-top: 10px;
    text-align: center;
}

/* סגנונות עבור הגלריה */
.gallery {
    position: fixed; /* מיקום קבוע */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* קביעת רוחב הגלריה */
    max-width: 600px; /* רוחב מקסימלי */
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s; /* אפקט מעבר לגלריה */
    z-index: 1000; /* ז-אינדקס גבוה */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.gallery-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%; /* רוחב 100% */
    height: 90%; /* גובה 100% */
}

.gallery-content img, 
.gallery-content video {
    width: 100%; /* רוחב 100% */
    height: 100%; /* גובה 100% */
    object-fit: cover; /* תופס את כל החלל ללא חיתוך */
}

/* עיצוב חיצים */
.gallery-arrow {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s; /* אפקט מעבר על החצים */
}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 5px;
}

.gallery-arrow:hover {
    color: lightgray; /* שינוי צבע החצים במצב ריחוף */
}

/* סגנון עבור ה-overlay */
.gallery-overlay {
    position: fixed; /* מיקום קבוע */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* רקע שחור עם שקיפות */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    z-index: 1000000; /* לוודא שה-overlay מעל כל תוכן אחר */
}
.volume-icon {
    background: none; /* הסרת הרקע */
    border: none; /* הסרת הגבול */
    cursor: pointer; /* הוספת מצביע עכבר */
    position: absolute; /* מאפשר מיקום יחסי */
    top: 10px; /* המרחק מהחלק העליון */
    right: 10px; /* המרחק מהצד הימני */
    z-index: 10; /* ודא שהאייקון יהיה מעל שאר האלמנטים */
    padding: 0; /* הסרת ריווח פנימי כדי שהכפתור יתאפס על האייקון בלבד */
    font-size: 30px;
}

.volume-icon:hover {
    background: none; /* הסרת הרקע */
    border: none; /* הסרת הגבול */
    cursor: pointer; /* הוספת מצביע עכבר */
    position: absolute; /* אפשר למקם אותו באופן יחסי */
   
}
