.highlight-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border: 5px solid pink;
    border-radius: 80%;
    cursor: pointer;
    background-image: url('https://i.imgur.com/TG0pZns.jpeg'); /* נתיב לתמונת הרקע הקבועה */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s; /* אפקט מעבר */
}

.circle:hover {
    transform: scale(1.05); /* הגדלת העיגול במצב ריחוף */
}

.circle-title {
    margin-top: 10px;
    text-align: center;
}

/* סגנונות עבור הגלריה */
.gallery {
    position: fixed; /* מיקום קבוע */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* קביעת רוחב הגלריה */
    max-width: 600px; /* רוחב מקסימלי */
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s; /* אפקט מעבר לגלריה */
    z-index: 1000; /* ז-אינדקס גבוה */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* רוחב 100% */
    height: 100%; /* גובה 100% */
}

.gallery-content img, 
.gallery-content video {
    width: 100%; /* רוחב 100% */
    height: 100%; /* גובה 100% */
    object-fit: cover; /* תופס את כל החלל ללא חיתוך */
}

/* עיצוב חיצים */
.gallery-arrow {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s; /* אפקט מעבר על החצים */
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.gallery-arrow:hover {
    color: lightgray; /* שינוי צבע החצים במצב ריחוף */
}

/* סגנון עבור ה-overlay */
.gallery-overlay {
    position: fixed; /* מיקום קבוע */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* רקע שחור עם שקיפות */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* לוודא שה-overlay מעל כל תוכן אחר */
}
