/* LoadingSpinner.css */
.spinner {
    border: 8px solid #f3f3f3; /* צבע רקע */
    border-top: 8px solid #ef8bc5; /* צבע הטבעת המסתובבת */
    border-radius: 80%; /* מעגל */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px auto; /* מרכז את העיגול */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  