header {
    background-color: rgb(250, 210, 204); /* צבע רקע לכותרת */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* צל קל סביב הכותרת */
    z-index: 1000; /* מבטיח שהכותרת תופיע מעל אלמנטים אחרים */
    padding: 10px 0; /* רווח פנימי כללי בכותרת */
}
body, html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, Gisha, Calibri, system-ui, sans-serif;
}

body {
    overflow-x: hidden; /* מונע גלילה אופקית */
    overflow-y: auto; /* מאפשר גלילה אנכית */
    margin: 0; /* מסיר מרג'ין לברירת מחדל */
    position: relative; /* הוספת מיקום יחסי */
}

/* הוספת אלמנט חדש לרקע */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* שם את הרקע מאחורי כל התוכן */
    background-image: repeating-linear-gradient(135deg, rgba(255,255,255,0.04) 0px, rgba(255,255,255,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(250,210,204),rgb(255,255,255));
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.categories-title{
    text-align: center;
    font-size: 28px;
}

/* עיצוב עמודות בכותרת */
header .col {
    display: flex;
    align-items: center; /* ממרכז את התוכן אנכית */
}

/* עמודת מרכז עם לוגו */
header .col-6 {
    justify-content: center; 
}

/* עיצוב לתמונה במרכז */
.col-6 img {
    max-width: 100%; 
    height: auto; 
}

/* עיצוב כפתורים בהירים */
.btn-light {
    background-color: white;
    color: black;
    border-color: white;
}

.btn-light:hover {
    background-color: #f5f5f5; 
    border-color: white; 
}

.btn-light i {
    font-size: 1.5rem; 
}

.btn-custom {
    background-color: white; 
    color: black; 
    border-color: white; 
    border-radius: 8px; 
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #f5f5f5;
    border-color: white;
}

.btn.no-caret::after {
    display: none !important; 
}

.btn-group.dropstart .dropdown-toggle {
    border-radius: 8px !important; 
}

.btn-group.dropstart:hover .dropdown-menu {
    left: auto; 
    right: 100%;
}

@media (max-width: 768px) {
    .col-6 img {
        max-width: 150px; 
        max-height: 40px; 
    }

    header {
        padding: 10px; 
    }
}

@media (max-width: 576px) {
    .col-6 img {
        max-width: 120px; 
        max-height: 30px; 
    }

    .btn-group.dropstart {
        width: 100%; 
        margin-top: 10px; 
    }

    .btn-custom {
        width: 100%; 
        margin-top: 10px; 
    }

    .btn-light {
        font-size: 1.25rem; 
        padding: 8px; 
    }

    /* עיצוב כפתור התפריט הימני */
    .btn-group.dropstart .dropdown-toggle {
        font-size: 2rem; 
    }

    .btn.no-caret {
        font-size: 1.75rem; 
        padding: 12px 16px; 
        border: 2px solid #f5f5f5; 
        border-radius: 12px; 
    }

    .btn-light i,
    .btn-custom i {
        font-size: 1.5rem; 
    }
}

/* עיצוב הפוטר */
.footer {
    background-color: rgb(250, 210, 204);
    color: white;
    padding: 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 200px;
    margin: 0; 
    text-align: end;
}

.footer-logo {
    width: 600px;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: -80px;
}

.icons-style {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.icons-style li {
    margin: 0 5px;
}

.footer-right {
    background-color: rgb(250, 210, 204);
    text-align: center;
    padding: 5px;
    margin: 0;
}
.content {
    flex-grow: 1;
}

  

  .banner-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px; 
    padding-bottom: 60px;
  }
  
  .banner-img {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
  }
  
  .countdown {
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    word-wrap: break-word;
  }
h1, h2, h3, h4, h5, h6 {
    font-size: 28px;
    font-family: -apple-system, Gisha, Calibri, system-ui, sans-serif;
    color: black;
}
  