/* עיצוב הבאנר */
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
    height: auto;
  }
  
  /* עיצוב החלון עם הזמן שנותר */
  .countdown {
    position: absolute;
    top: 80%; /* להוריד את השעון קצת למטה */
    left: 50%; /* מרכז אופקית */
    transform: translateX(-50%); /* מיישר את השעון אופקית */
    background-color: rgba(0, 0, 0, 0.5); /* רקע חצי שקוף */
    color: white; /* צבע טקסט לבן */
    padding: 10px;
    border-radius: 5px;
    width: 500px; /* רוחב קבוע לשעון */
    font-size: 16px; /* גודל טקסט */
    text-align: center; /* יישור טקסט */
    word-wrap: break-word; /* לשבור מילים אם יש צורך */
  }
  
  