/* הגדרות כלליות */

.products-management {
    max-width: 900px; /* רוחב מקסימלי */
    margin: 0 auto; /* ממרכז את התוכן */
    background-color: white; /* צבע רקע לבן עבור הקונטיינר */
    border-radius: 8px; /* קצוות מעוגלים */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* צל עדין */
    padding: 20px; /* רווח פנימי */
    direction: rtl;
    margin-top: 20px;
    font-family: calibri;
}

.products-management h2, .products-management h3 {
    text-align: center; /* מרכז את הכותרות */
    color: #333; /* צבע טקסט כהה */
    margin-bottom: 20px; /* רווח תחתון */
}

/* עיצוב טבלת המוצרים */
.products-management .products-table, .products-management .new-product-table {
    width: 100%; /* רוחב מלא */
    border-collapse: collapse; /* מסיר גבולות כפולים */
    margin-bottom: 20px; /* רווח תחתון */
}

.products-management .products-table th, .products-management .products-table td, .products-management .new-product-table td {
    border: 1px solid #ddd; /* גבול לכל תא */
    padding: 12px; /* רווח פנימי בתאים */
    text-align: right; /* טקסט מימין לשמאל */
}

.products-management .products-table th {
    background-color: #FCEFBB; /* צבע רקע לתאים בכותרת */
    color: #333; /* צבע טקסט כהה */
}

.products-management .products-table img {
    max-width: 50px; /* רוחב מקסימלי לתמונה */
    border-radius: 4px; /* קצוות מעוגלים */
}

/* עיצוב הטופס להוספת מוצר */
.products-management .new-product-table {
    margin-top: 20px; /* רווח מעל הטבלה */
}

.products-management .new-product-table td {
    border: 1px solid #ddd; /* גבול לתאים */
}

.products-management .new-product-table input[type="text"],
.products-management .new-product-table input[type="number"] {
    width: 100%; /* רוחב מלא */
    padding: 10px; /* רווח פנימי */
    border: 1px solid #ddd; /* גבול */
    border-radius: 4px; /* קצוות מעוגלים */
    box-sizing: border-box; /* כולל גבול ורווחים ברוחב */
}

/* סידור ה-checkboxים בשורה */
.products-management .checkbox-group {
    display: flex; /* משתמש ב-flexbox */
    flex-wrap: wrap; /* מאפשר לשבור שורה */
    gap: 10px; /* רווח בין ה-checkboxים */
    margin-top: 10px; /* מרווח בין השורה הקודמת ל-checkboxים */
}

/* עיצוב כפתורים */
.products-management button {
    background-color: rgb(250, 210, 204); /* צבע רקע ירוק */
    color: white; /* צבע טקסט לבן */
    padding: 10px 15px; /* רווח פנימי */
    border: none; /* ללא גבולות */
    border-radius: 4px; /* קצוות מעוגלים */
    cursor: pointer; /* מצביע כאשר מרחפים מעל */
    font-size: 1em; /* גודל טקסט */
    width: 48%; /* רוחב כפתור */
    margin: 10px 1%; /* מרווחים בין הכפתורים */
}

.products-management button:hover {
    background-color: #CEE7D3; /* שינוי צבע ברוורס */
}

/* עיצוב הודעות שגיאה */
.products-management .error-message {
    color: #ff0000; /* צבע אדום */
    font-size: 0.9em; /* גודל טקסט קטן יותר */
    margin-bottom: 10px; /* רווח תחתון */
    text-align: center; /* מרכז את הטקסט */
}
