
html {
  scroll-behavior: smooth;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff4e6; /* Light orange background */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #cc6b36; /* Dark orange for text */
    font-size: 1.8rem;
  }
  

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffa366; /* Light orange border */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #fffaf2; /* Light background for input */
  }
  
  p {
    color: #e74c3c;
    font-size: 0.85rem;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #ff8c66; /* Light orange button */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff704d; /* Darker orange on hover */
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    color: #cc6b36; 
  }
  
  div {
    margin-bottom: 15px;
  }
  .back-to-login-btn {
      margin-top: 20px;
      background-color: rgba(0, 0, 0, 0.5);
}
.back-to-login-btn:hover {
  background-color: rgba(197, 171, 171, 0.5);
}
