/* Store.css */
.store-container {
    padding: 20px;
}

.store-title {
    text-align: center;
    font-size: 2em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 עמודות */
    gap: 40px; /* רווח בין הריבועים */
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* פריסת תוכן אנכית */
    align-items: center; /* סידור מרכזי */
}

.product-image {
    width: 100%; /* רוחב המוצר תופס את כל רוחב הכרטיס */
    height: 400px; /* הגבהה קבועה לכל התמונות */
    object-fit: cover; /* שומר על יחס גובה-רוחב ומוודא שהתמונה ממלאת את הקופסה */
}


.product-description {
    margin: 20px 0; /* רווח בין התמונה לתיאור */
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0; /* רווח מעל ומתחת */
}

.quantity-button {
    background-color: pink;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5em; /* גודל טקסט לכפתור */
}

.quantity-display {
    margin: 0 10px; /* רווח משני הצדדים */
    font-size: 1.5em; /* גודל טקסט לתצוגת הכמות */
}

.product-price {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    margin: 10px 0; /* רווח מעל ומתחת למחיר */
}

.add-to-cart-button {
    background-color: pink; /* צבע כפתור הוסף לסל */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; /* רווח מעל כפתור הוסף לסל */
}

