.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-left: 30%;
    padding-top: 90px;
  }
  
  .testimonial-container {
    display: flex;
    justify-content: center; 
    overflow: hidden; 
    padding: 32px 0;

  }
  
  .testimonial-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    margin: 10px; 
    padding: 10px; 
    width: 350px; 
    height: 580px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    direction: rtl;
    background-color: whitesmoke;

  }
  
  .testimonial-image {
    width: 100%; 
    height: 220px; 
    object-fit: cover; /* חיתוך התמונה לשמור על פרופורציות */
    border-radius: 10px; /* פינות מעוגלות לתמונה */
  }
  
  .instagram-tag {
    font-weight: bold; /* טקסט מודגש */
    margin-top: 2px; /* רווח בין התמונה לתיוג */
    direction: ltr;
    color: #FAD2CC;
  }
  
  .testimonial-text {
    text-align: center; /* יישור מרכזי */
    color: black;
    font-size: 14px;
  }
  
  /* חוקים עבור החצים */
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%; /* רוחב החצים */
    background: none; /* צבע רקע לחצים */
    border-radius: 50%; /* פינות מעוגלות לחצים */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #E4CDF9; /* צבע החיצים */
  }
  
  .carousel-control-prev {
    left: -50px; /* מיקום החץ השמאלי מחוץ לתמונות */
  }
  
  .carousel-control-next {
    right: -50px; /* מיקום החץ הימני מחוץ לתמונות */
  }
  .carousel-item {
    transition: transform 1.3s ease; /* מעבר חלק בין התמונות */
  }
  .course-type {
    margin-bottom: 3px;
    margin-top: -14px;
    color: #FAD2CC;
  }
  