.admin-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  direction: rtl; /* שינוי כיוון ל-rtl */
  font-family: -apple-system, Gisha, Calibri, system-ui, sans-serif;
}

.admin-page h1 {
  text-align: right; /* טקסט מיושר מימין */
  color: #333;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  text-align: right; /* טקסט מיושר מימין */
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  direction: rtl; /* שינוי כיוון ל-rtl */
}

.admin-table th,
.admin-table td {
  padding: 12px 15px;
  text-align: center; /* טקסט מיושר במרכז */
  border-bottom: 1px solid #ddd;
}

.admin-table th {
  background-color: #FAD2CC ;
  color: black;
}

.admin-table tr:hover {
  background-color: #FAD2CC;
}

.action-cell {
  display: flex;
  gap: 10px; /* רווח בין הכפתורים */
}

.action-button,
.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-button {
  background-color: gray;
  color: black;
}

.action-button:hover {
  background-color: lightgray;
  transform: scale(1.05);
}

.delete-button {
  background-color: red;
  color: black;
}

.delete-button:hover {
  transform: scale(1.05);
}
.admin-page h1{
  text-align: center;
  color: black;
  font-weight: 1000;
  font-size: 28px;
  text-decoration: underline;
}